<?xml version="1.0" encoding="UTF-8"?>

<!--
<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>SimpleJspServletDB</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>-->


<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>SimpleJspServletDB</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>RideController</display-name>
        <servlet-name>RideController</servlet-name>
        <servlet-class>controller.RideController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RideController</servlet-name>
        <url-pattern>/RideController</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>AdminController</display-name>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>DriverController</display-name>
        <servlet-name>DriverController</servlet-name>
        <servlet-class>controller.DriverController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DriverController</servlet-name>
        <url-pattern>/DriverController</url-pattern>
    </servlet-mapping>
</web-app>
